<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:insert="blogs/modules :: modules"></div>
</head>
<body>
<header th:insert="blogs/header :: header"></header>
<div class="container mt-5">
        <h3 th:text="${post.name}"></h3>
        <p th:text="${post.announce}"></p>
        <p th:text="${post.text}"></p>
        <a class="btn btn-warning" th:href="'/blog/' + ${post.id} + '/edit'">Редактировать</a>
        <a class="btn btn-warning" th:href="'/blog/' + ${post.id} + '/delete'">Удалить</a>
<!--    <div id="app">-->
<!--        {{ message }}-->
<!--    </div>-->
</div>
<footer th:insert="blogs/footer :: footer"></footer>
<script src="blog-detail.js"></script>
</body>
</html>