<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:insert="blogs/modules :: modules "/>
</head>
<body>
<header th:insert="blogs/header :: header"></header>
<div sec:authorize="isAuthenticated()">
    <p>Hello, <span th:if="${name != null}" th:text="${name}"/> </p>
</div>
<footer th:insert="blogs/footer :: footer"></footer>
</body>
</html>